.slideshow {
    text-align: center;
}

.slide {
    display: none;
    img {
        width: 75%;
        margin: 25px;
        border: 3px solid black;
        transition: opacity 150ms ease;
        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }
}

.slidebutton {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 15px;
}

#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 120px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    z-index: 1234; //Ensure it's above the nav, because bootstrap gives it 1030 index...
    transition: opacity 500ms ease;
}

.modal-content {
    display: block;
    margin: auto;
    width: unset;
    max-width: 100%;
    height: auto;
  }

.close {
    position: absolute;
    top: 0px;
    right: 25px;
    color: #f1f1f1;
    font-size: 100px;
    font-weight: bold;
  
    &:hover, &:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
}


@media screen and (max-width: 991px) {
    .slide img {
        width: 100%;
        margin: 25px 0;
    }
    #modal {
        padding-top: 80px;
    }
    .close {
        font-size: 60px;
        right: 25px;
    }
}
