$bodycolor: rgba(255, 255, 255, 0.75);
$navcolor: rgb(192, 192, 192);
$footcolor: rgb(128, 128, 128);

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body {
    background-color: $bodycolor;
}
nav {
    margin: 0 auto;
    min-height: 60px;
    border-bottom: 2px solid black;
}
.navbar-bg-fix {
    min-height: 60px;
    border-bottom: 2px solid black;
    margin: 0;
    width: 100%;
}
.container {
    flex: 1;
    padding-top: 65px;
    padding-bottom: 10px;
}

section {
    padding: 15px;
}
header {
    color: rgb(12, 83, 3);
    padding: 4px 0 0 0;
}
hr {
    border-top: 2px solid black;
}
footer {
    background-color: $footcolor;
    color: white;
    width: 100%;
    border-top: 2px solid black;
    text-align: center;
    padding: 15px;
}

.nav-logo {
    background-image: url("assets/icon32.ico");
    background-size: 32px 32px;
    margin-right: 12px;
    width: 32px;
    height: 32px;
}

.navbar {
    background-color: $navcolor !important;
    font-weight: bold;
}

#navbarBlocker {
    display: none !important;
}

#navbarSupportedContent {
    background-color: unset;

    ul {
        width: 100%;
        justify-content: flex-start;
    }
}

//Bootstrap media queries
@media (min-width: 576px) {
    nav {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    nav {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    nav {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    nav {
        max-width: 1140px;
    }
}

@media screen and (max-width: 991px) {
    nav {
        min-height: 55px;
        max-width: 100%;
    }
    .navbar-bg-fix {
        display: none;
    }
    .container {
        padding-top: 60px;
    }

    .navbar-brand {
        margin-right: 0;
    }

    .navbar-toggler {
        border-color: rgba(0, 0, 0, 1) !important;
    }
    header {
        padding: 7px 0 0 0;
    }

    #navbarSupportedContent {
        .navbar-nav {
            margin-top: 5px;
        }

        li {
            text-align: center;
            font-size: 150%;
            font-weight: bolder;

            &:nth-child(2n+1) {
                background-color: rgb(167, 167, 167);
            }

            &:nth-child(2n) {
                background-color: rgb(139, 139, 139);
            }
        }
    }
}