$bodycolor: rgba(255, 255, 255, 0.75);
$navcolor: rgba(192, 192, 192, 0.7);
$navcolorsolid: rgb(192, 192, 192);
$footcolor: rgb(128, 128, 128);

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body {
    background-color: $bodycolor;
}
nav {
    margin: 0 auto;
    min-height: 80px;
    border-bottom: 2px solid black;
}
h1, h2 {
    text-align: center;
    color: black;
}
h1 {
    font-size: 3rem;
    padding: 12px 0;
}
.highlight {
    color: rgb(185, 102, 6);
    transition: opacity 0.2s ease;
}
.highlight:hover {
    color: rgb(102, 57, 6);
    text-decoration: none;
}
.home-img-1 {
    position: relative;
    &::before {
        content: ' ';
        filter: blur(2px);
        display: block;
        background-image: url("assets/home/bg1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.6;
        width: 100%;
        height: 100vh;
    }
}

.centered {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    font-size: 8vw;
    //color: rgb(12, 83, 3);
    text-shadow: -2px -2px 0 #fff, 0   -2px 0 #fff, 2px -2px 0 #fff, 2px  0   0 #fff, 2px  2px 0 #fff, 0    2px 0 #fff, -2px  2px 0 #fff, -2px  0   0 #fff;
}
header {
    padding-top: 120px;
    padding-bottom: 20px;
}
section {
    padding: 100px 0;
    &:nth-child(2n+1) {
        background-color: rgb(240, 240, 240);
    }
    p, >div {
        margin: 0 auto;
        width: 65%;
    }
    p {
        text-align: center;
        margin: 0 auto;
        font-size: 1.2rem;
    }
    &:first-of-type {
        padding: 0;
    }
}

hr {
    border-top: 2px solid black;
}
footer {
    background-color: $footcolor;
    color: white;
    width: 100%;
    border-top: 2px solid black;
    text-align: center;
    padding: 15px;
    margin-top: auto;
}

.nav-logo {
    background-image: url("assets/icon32.ico");
    background-size: 32px 32px;
    margin-right: 12px;
    width: 32px;
    height: 32px;
}

.navbar {
    background-color: $navcolor !important;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
    .nav-item {
        padding: 0.5rem 0;
        .nav-link, .fa {
            color: rgb(0, 0, 0);
            &:hover {
                color: rgba(0,0,0,0.7);
            }
        }
    }
}

.navbar-brand {
    font-size: 1.5rem;
}

#navbarBlocker {
    display: none !important;
}

#navbarSupportedContent {
    background-color: unset;

    ul {
        width: 100%;
        justify-content: flex-start;
    }
    li:nth-child(n+3) {
        margin-left: auto;
    }
}

.button-active {
    background-color: gray;
}
button {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    background-color: rgb(192, 192, 192);
    cursor: pointer;
    text-align: center;
    transition: background-color 250ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:hover {
        background-color: gray;
    }
    &:focus {
        outline: none;
    }
}
.fa {
    float: right;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 36px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: rgba(0,0,0,.5);
    &:hover {
        text-decoration: none;
        color: rgba(0,0,0,.7);
    }
}

@media screen and (max-width: 991px) {
    nav {
        min-height: 55px;
        max-width: 100%;
    }
    .navbar {
        background-color: $navcolorsolid !important;
        .nav-item {
            font-size: 1rem;
            padding: 0;
        }
    }
    .container {
        padding-top: 60px;
    }

    .navbar-brand {
        margin-right: 0;
    }
    .centered {
        font-size: 12vw;
    }

    .navbar-toggler {
        border-color: rgba(0, 0, 0, 1) !important;
        outline: none !important;
        &:focus {
            background-color: rgba(0,0,0,0.1);
        }
    }
    header {
        padding-top: 100px;
    }
    section {
        padding: 75px 0;
        p, >div {
            width: 90%;
        }
        &:first-of-type {
            padding: 0;
        }
    }
    .mobile-icons {
        margin: 12px auto 0 auto;
        background-color: unset !important;
        a {
            margin: 0 15px;
        }
    }

    #navbarSupportedContent {
        .navbar-nav {
            margin-top: 5px;
        }

        li {
            text-align: center;
            font-size: 150%;
            font-weight: bolder;

            &:nth-child(2n+1) {
                background-color: rgb(167, 167, 167);
            }
            &:nth-child(2n) {
                background-color: rgb(139, 139, 139);
            }
        }
    }
}