$bodycolor: rgba(255, 255, 255, 0.75);
$navcolor: rgba(192, 192, 192, 0.7);
$navcolorsolid: rgb(192, 192, 192);
$footcolor: rgb(128, 128, 128);

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    body {
        background-color: $bodycolor;
    }
    nav {
        margin: 0 auto;
        min-height: 80px;
        border-bottom: 2px solid black;
    }
    h1, h2 {
        text-align: center;
        color: black;
    }
    h1 {
        font-size: 3rem;
        padding: 12px 0;
    }
    .highlight {
        color: rgb(185, 102, 6);
        transition: opacity 0.2s ease;
    }
    .highlight:hover {
        color: rgb(102, 57, 6);
        text-decoration: none;
    }
    .home-img-1 {
        position: relative;
        &::before {
            content: ' ';
            filter: blur(2px);
            display: block;
            background-image: url("assets/home/bg1.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            opacity: 0.6;
            width: 100%;
            height: 100vh;
        }
    }

    .centered {
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        font-size: 8vw;
        //color: rgb(12, 83, 3);
        text-shadow: -2px -2px 0 #fff, 0   -2px 0 #fff, 2px -2px 0 #fff, 2px  0   0 #fff, 2px  2px 0 #fff, 0    2px 0 #fff, -2px  2px 0 #fff, -2px  0   0 #fff;
    }
    header {
        padding-top: 120px;
        padding-bottom: 20px;
    }
    section {
        padding: 100px 0;
        &:nth-child(2n+1) {
            background-color: rgb(240, 240, 240);
        }
        p, >div {
            margin: 0 auto;
            width: 65%;
        }
        p {
            text-align: center;
            margin: 0 auto;
            font-size: 1.2rem;
        }
        &:first-of-type {
            padding: 0;
        }
    }

    hr {
        border-top: 2px solid black;
    }
    footer {
        background-color: $footcolor;
        color: white;
        width: 100%;
        border-top: 2px solid black;
        text-align: center;
        padding: 15px;
        margin-top: auto;
    }

    .nav-logo {
        background-image: url("assets/icon.svg");
        background-size: 32px 32px;
        margin-top: 2px;
        margin-right: 16px;
        width: 32px;
        height: 32px;
    }

    .navbar {
        background-color: $navcolor !important;
        font-weight: bold;
        font-size: 1.25rem;
        padding: 0.5rem 1.5rem;
        .nav-item {
            padding: 0.5rem 0;
            .nav-link, .fa {
                color: rgb(0, 0, 0);
                &:hover {
                    color: rgba(0,0,0,0.7);
                }
            }
        }
        .navbar-brand {
            color: black;
            font-size: 1.5rem;
        }
    }

    #navbarBlocker {
        display: none !important;
    }

    #navbarSupportedContent {
        background-color: unset;

        ul {
            width: 100%;
            justify-content: flex-start;
        }
        li:nth-child(n+4) {
            margin-left: auto;
        }
    }

    .fa {
        float: right;
        margin-top: 5px;
        margin-left: 5px;
        font-size: 36px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        color: rgba(0,0,0,.5);
        &:hover {
            text-decoration: none;
            color: rgba(0,0,0,.7);
        }
    }

    @media screen and (max-width: 991px) {
        nav {
            min-height: 55px;
            max-width: 100%;
        }
        .nav-logo {
            margin-top: 4px;
            margin-right: 0;
        }
        .navbar {
            background-color: $navcolorsolid !important;
            .nav-item {
                font-size: 1rem;
                padding: 0;
                &:last-of-type {
                    margin-bottom: 10px;
                }
            }
        }
        .container {
            padding-top: 60px;
        }

        .navbar-brand {
            margin-right: 0;
        }
        .centered {
            font-size: 12vw;
        }

        .navbar-toggler {
            border-color: rgba(0, 0, 0, 1) !important;
            outline: none !important;
            &:focus {
                background-color: rgba(0,0,0,0.1);
            }
        }
        header {
            padding-top: 100px;
        }
        section {
            padding: 75px 0;
            p, >div {
                width: 90%;
            }
            &:first-of-type {
                padding: 0;
            }
        }
        .mobile-icons {
            margin: 12px auto 0 auto;
            background-color: unset !important;
            a {
                margin: 0 15px;
            }
        }

        #navbarSupportedContent {
            .navbar-nav {
                margin-top: 5px;
            }

            li {
                text-align: center;
                font-size: 150%;

                &:nth-child(2n+1) {
                    background-color: rgb(167, 167, 167);
                }
                &:nth-child(2n) {
                    background-color: rgb(139, 139, 139);
                }
            }
        }
    }
}

.Home {
    .slideshow {
        text-align: center;
    }
    
    .slide {
        display: none;
        img {
            width: 75%;
            margin: 25px;
            border: 3px solid black;
            transition: opacity 150ms ease;
            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }
    }
    
    .slidebutton {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin: 0 15px;
    }

    .button-active {
        background-color: gray;
    }

    button {
        display: inline-block;
        border: none;
        margin: 0;
        text-decoration: none;
        background-color: rgb(192, 192, 192);
        cursor: pointer;
        text-align: center;
        transition: background-color 250ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
        &:hover {
            background-color: gray;
        }
        &:focus {
            outline: none;
        }
    }
    
    #modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        padding-top: 120px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        z-index: 1234; //Ensure it's above the nav, because bootstrap gives it 1030 index...
        transition: opacity 500ms ease;
    }
    
    .modal-content {
        display: block;
        margin: auto;
        width: unset;
        max-width: 100%;
        height: auto;
      }
    
    .close {
        position: absolute;
        top: 0px;
        right: 25px;
        color: #f1f1f1;
        font-size: 100px;
        font-weight: bold;
      
        &:hover, &:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
    }
    
    
    @media screen and (max-width: 991px) {
        .slide img {
            width: 100%;
            margin: 25px 0;
        }
        #modal {
            padding-top: 80px;
        }
        .close {
            font-size: 60px;
            right: 25px;
        }
    }    
}
